.App-logo {
    height: 40vmin;
    pointer-events: none;
    
  }
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .Nopath{
    position: fixed;
    left: 50%;
    top:80%;
    transform: translate(-50%,-50%);
    line-height: 1.5rem;
  }
  .titlepath{
    margin-top: 250px;
    border-bottom:8px solid #61dafb;;
  }